<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ows.boostcourse.iaplayer">

    <application>
        <service
            android:name="ows.boostcourse.iaplayer.SocketService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>